body {
    background-image: url(../img/bg_repeat.png);
}

.head-s {
    width: 90%;
    text-align: center;
    margin: 1rem auto;
    height: 1.5rem;
}
.head-s a {
    text-decoration: none;
    transition: all 0.3s ease-out;
    outline: none;
    display: block;
    padding: 1rem .2rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    font-family: "PingFang SC", "Hiragino Sans GB", 'Helvetica Neue', "Microsoft YaHei", "Source Han Sans SC", "Input", Arial, sans-serif;
    line-height: 1;
    color: #595959;
    /*background: rgba(0, 0, 0, 0.1);*/
}
.head-s .home {
    float: left;
}
.title {
    margin: 3rem auto;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 .05rem .1rem #333;
}
.title span {
    display: block;
}
.pagination-s {
    width: 100%;
    text-align: center;
    margin: 3rem auto;
}
.pagination-s a {
    text-decoration: none;
    transition: all 0.3s ease-out;
    outline: none;
    display: inline-block;
    width: 80%;
    padding: 1rem 2rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    font-family: "PingFang SC", "Hiragino Sans GB", 'Helvetica Neue', "Microsoft YaHei", "Source Han Sans SC", "Input", Arial, sans-serif;
    line-height: 1;
    color: #ffffff;
    background: rgba(61, 209, 121,.8);
}

.pagination-s a:hover,
.pagination-s a:active
.pagination-s a.hover {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background: rgb(61, 209, 121);

}
.pagination-s a:link,
.pagination-s a:visited {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
